@use "sass:color";

.wsk-browser-compatibility {
  padding: 60px 0;
  background-color: color.adjust(white, $lightness: -5%);

  p {
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .fi {
    font-size: 3rem;
  }
}
